@media only screen and (min-width: 850px) {
  .content {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    }
    .iframe {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
      margin-left: 1rem;
    }
  }
}
@media only screen and (max-width: 850px) {
    .container {
        width: 100vw !important;
    }
    .content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    .me{
        display: flex;
        justify-content: center;
        padding: 1rem;
        img {
      width: 90%;
      height: 90%;
      object-fit: fill;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
      box-sizing: border-box;
    }
    }
    .iframe {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    }
  }
}
