@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    box-shadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.5);
    background: white;
  }
  .header {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(44, 40, 40);
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 1rem;
        a {
          text-decoration: none;
          color: white;
          font-size: 2rem;
        }
      }
      li:hover {
        a {
          color: yellow;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(44, 40, 40);
    .row{
      ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 1rem;
        i{
          color:white;
          font-size:1.5rem;
          margin-right: .3rem;
        }
        a {
          text-decoration: none;
          color: white;
          font-size: 1rem;
        }
      }
      li:hover {
        a {
          color: yellow;
        }
      }
    }
    }
  }
}

@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    box-shadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.5);
    background: white;
  }
  .header {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(44, 40, 40);
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 1rem;
        a {
          text-decoration: none;
          color: white;
          font-size: 2rem;
        }
      }
      li:hover {
        a {
          color: yellow;
        }
      }
    }
  }
  .content {
    background-color: white;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(44, 40, 40);
    .row{
      ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 1rem;
        i{
          color:white;
          font-size:1.5rem;
          margin-right: .3rem;
        }
        a {
          text-decoration: none;
          color: white;
          font-size: 1rem;
        }
      }
      li:hover {
        a {
          color: yellow;
        }
      }
    }
    }
  }
}
