<div class="container">
  <header class="header">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/album" routerLinkActive="active">Album</a>
      </li>
      <li>
        <a routerLink="/me" routerLinkActive="active">About Me</a>
      </li>
    </ul>
  </header>

  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="row">
      <ul>
        <li>
          <i class="fab fa-wordpress"></i>
          <a href="https://suriyaphpjs.wordpress.com/">Wordpress</a>
        </li>
        <li>
          <i class="fab fa-github"></i>
          <a href="https://github.com/Suriya005">GitHub</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li>
          <i class="fab fa-facebook"></i>
          <a href="https://www.facebook.com/Nick.Godzilla">Facebook</a>
        </li>
        <li>
          <i class="fab fa-youtube"></i>
          <a href="https://www.youtube.com/channel/UC7RFNDhNZD4x_UvToRIRNmA">YouTube</a>
        </li>
        <li>
          <i class="fab fa-linkedin"></i>
          <a href="https://www.linkedin.com/in/suriya-phutduang-83b5b8211/">Linkedin</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
